/*구글 폰트 api*/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Batang&family=Gowun+Dodum&display=swap');

.black-han-sans-regular { /*팀 제목 폰트*/
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gowun-dodum-regular { /*슬로건 폰트*/
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gowun-batang-regular { /*팀 카드 폰트*/
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.footer-box {
    width: 100vw;
    margin-top: 100px;
    height: 250px;
    text-align: center;
    background-color: #D73E45;
}

.footer-image-container {
    display: flex;
    margin-top: 100px;
    gap: 0;
    /* Ensure there is no gap between images */
    position: relative;
}

.github-button {
    position: absolute;
    /* Position the button absolutely within the .footer-image-class */
    bottom: 100px;
    /* Distance from the bottom of the .footer-image-class */
    left: 435px;
    /* Center horizontally within the .footer-image-class */
    padding: 10px 20px;
    font-size: 15px;
    color: #D73E45;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.github-button:hover {
    background-color: #f3e0e1;
}

.paragraph-container {
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.footer-paragraph {
    margin-left: 50px;
}

.line-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.line-container-heading {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

/* 팀 슬로건 */
.card-mb-2 {
    color:white;
    width: 100%;
    height: 350px;
    margin: 0px 0px 20px auto;
    padding: auto 200px 20px;
    padding-left: 150px;
    background-color: #D73E45;
    border-radius: 0px;
    box-shadow: 0px 0px 3px 0px rgb(255, 255, 255);
    color: white;
}

/* 팀원 개인카드 */
.card {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-family: 'Gowun Dodum'!important;
}

.card:hover {
    filter: opacity(0.65);
    cursor: pointer;
}

/* 응원 한마디 */
.mypostingbox {
    width: 800px;
    margin: 20px auto 20px auto;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px black;
}

/* 응원의 메세지 */
.card2 {
    width: 800px;
    background-color: white;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    height: 200px;
    overflow-y: scroll;
}

/* 깃허브 링크 */
.card3 {
    background-color: white;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

/*팀 카드*/
.team-card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

/* 팝업 모달 */
.team-card .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 5px solid white;
}

.team-card .social-icons {
    margin-top: 10px;
}

.team-card .social-icons a {
    color: #333;
    margin-right: 10px;
    font-size: 24px;
}

.team-card .social-icons a:hover {
    color: white;
}

/* 게시판 부분 css */
.nickname {
    width: 10%;
}

.cheering {
    text-align: center;
}

/* 가운데 정렬 css */
.wrap {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.wrap2 {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.header {
    margin: 100px auto;
    width: 80%;
    padding: 0px;
}

/* 스크롤 버튼 css */
#scrollBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: none;
    /* 처음에는 숨김 */
}